form {

    margin-left: 42%;
    font-size: 20px;

}



h1 {
    text-align: center;

}

input {

    font-size: 17px
}

button {

    padding: 4px 5px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {


    form {

        margin-left: 35%;
        font-size: 20px;

    }
}


@media (max-width: 480px) {

    form {

        margin-left: 20%;
        font-size: 20px;

    }

}