body{
  margin: 0%;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

h2{
  text-align: center;
  color: rgba(104, 86, 52); 
  font-size: 30px;
}

.contProductos {
  display: flex;
  justify-content: center;
  padding: 30px; 
  border-radius: 10px; 
}

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2%;
  width: 100%; 
  padding: 20px; 
  justify-items: center;
}

.divProduc {
  padding: 15px; 
  border-radius: 15px; 
  height: 60vh; 
  box-sizing: border-box;
  display: flex;
  flex-direction: column; 
  text-align: center; 
  align-items: center;
}

.divProduc:hover {
  border-color: white;
  transform: translateY(-10px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.imgProducto {
  display: block;
  margin: 0 auto;
  width: 180px; 
  height: 180px; 
  border-radius: 10px; 
  object-fit: cover; 
  object-position: center; 
  box-sizing: border-box; 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

#likes {
  border-radius: 30px;
  color: rgb(171, 31, 31);
  text-align: left;
  font-size: 15px;     
}

#precio {
  margin-top: 5%; 
  font-weight: bold;
  font-size: 20px; 
  border: 2px solid rgba(104, 86, 52); 
  margin: auto;
  width: 70px; 
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 20px; 
  padding: 5px; 
  color: #333; 
}

#nombre {
  margin-top: 5%;
  text-align: center;
  font-size: 22px; 
  font-weight: bold;
  color: rgba(104, 86, 52); 
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); 
}

.sinProductos {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 50%;
  max-width: 600px;
  margin:auto;
  margin-top: 1%;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.btnEliminar, .btnGuardar {
  border-radius: 10px;
  color: white;
  
  padding: 7px;
  font-size: 13px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.btnEliminar {
  background-color: rgb(171, 31, 31);
  margin-top: 5%;
}

.btnEliminar:hover {
  border-color: white;
  transform: translateY(-3px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

.btnGuardar {
  background-color: green;
  margin-top: 2%;
}

.btnGuardar:hover {
  border-color: white;
  transform: translateY(-3px); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
