<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
        displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true">
    <!-- la configuracion de bootstrap es necesario para que encuentre
    el fichero de configuracion automaticamente-->

       <!-- define la ruta donde se encuentran las pruebas, puedo crear varios testsuites
       con diferentes directorios-->
       <testsuites>
       <testsuite name="Pruebas proyecto">
       <directory>./tests</directory><!-- Directorio donde están los tests-->
       </testsuite>
        </testsuites>

        
</phpunit>

